# Packer variables
location = "eastus"

# Terraform variables
image_name = "IMAGE_FROM_PACKER"

# These variables will default to the values shown
# and do not need to be updated unless you want to
# change them
# resource_group_name             = "hashistack"
# allowlist_ip                    = "0.0.0.0/0"
# name_prefix             = "nomad"
# server_instance_type            = "t2.micro"
# server_count                    = "3"
# client_instance_type            = "t2.micro"
# client_count                    = "3"
