# Packer variables
project                   = "GCP_PROJECT_ID"
region                    = "GCP_REGION"
zone                      = "GCP_ZONE"

# Terraform variables
machine_image             = "MACHINE_IMAGE_FROM_PACKER_BUILD"

# These variables will default to the values shown
# and do not need to be updated unless you want to
# change them
# allowlist_ip            = "0.0.0.0/0"
# name                    = "nomad"
# server_instance_type    = "t2.micro"
# server_count            = "3"
# client_instance_type    = "t2.micro"
# client_count            = "3"